<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ $.Param "description" }}">
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .Site.BaseURL }}css/bootstrap.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/antelope.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/fonts.css" rel="stylesheet">
  {{ partial "head_custom.html" . }}
</head>
