<!-- Navigation -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
          {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
    </ul>
    <!--span class="navbar-text">
      Navbar text with an inline element
    </span-->
  </div>
</nav>
