{{ partial "header.html" . }}
<body>
    <!-- Main Content -->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-lg-offset-2 col-md-10 col-md-offset-1">

<div id="background" class="section level4">
    <h3>Ooops!</h3>
    <p>
        <a href="https://en.wikipedia.org/wiki/HTTP_404">HTTP 404 NOT FOUND</a>
    </p>
    <p>It seems you have come to a dead end. You can start over from the <a href="/">home page</a>, or search through the
        <a href="/categories/">categories</a> and <a href="/tags/">tags.</a>
    </p>
</div>
</div>
</div>
    </div>
{{ partial "footer.html" . }}
</body>

</html>